# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# firebase exports 

*firebase-export*/
firebase-export-1723592584050klvrWN
firebase-export-17232514119702bpSfx/
firebase-export-17235925843462dp5Rq/
all_kinds/